@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;400;700&display=swap");
body {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
}

.modal-dialog {
  max-width: 60%;
  top: 2% !important;
  margin: 0px auto !important;
}
@media screen and (max-width: 576px) {
  .modal-dialog {
    max-width: 90%;
  }
}

main {
  margin: 0px !important;
  padding: 0px !important;
}

.row {
  --bs-gutter-x: 0rem !important;
}

.nav-mondragon {
  background-color: #002060;
  padding: 30px 0px 30px 0px !important;
  font-family: "Roboto Flex", sans-serif;
}
.nav-mondragon .navbar-nav {
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.nav-mondragon .nav-link-01 {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff !important;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #2adab3;
  padding-bottom: 10px;
}
.nav-mondragon .nav-link-01:hover {
  color: #2adab3 !important;
}
.nav-mondragon .nav-link-02 {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff !important;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #00b4ff;
  padding-bottom: 10px;
}
.nav-mondragon .nav-link-02:hover {
  color: #00b4ff !important;
}
.nav-mondragon .logo {
  width: 100px;
  margin-left: 2rem;
}

.carousel-inner {
  font-family: "Roboto Flex", sans-serif;
  height: auto !important;
  width: 100% !important;
}
.carousel-inner img {
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-caption {
  background-image: url("../img/back-light-blue.png");
  width: 100%;
  height: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow: hidden;
  position: absolute;
  left: 0 !important;
  padding: 40px 0px 40px 0px !important;
  bottom: 0 !important;
}
@media screen and (max-width: 576px) {
  .carousel-caption {
    width: 100%;
    height: auto;
    border-radius: 0px;
    left: 0 !important;
    top: auto;
    padding: 20px 0px 20px 0px !important;
  }
}
.carousel-caption .description {
  width: 90%;
  margin: 0px auto;
  position: relative;
  text-align: left;
}
.carousel-caption h2 {
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .carousel-caption h2 {
    font-size: 20px;
    font-weight: unset;
  }
}
.carousel-caption p {
  font-size: 20px;
  font-weight: 200;
  font-family: "Roboto Flex", sans-serif;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .carousel-caption p {
    font-size: 15px;
    text-align: center;
    font-weight: normal;
  }
}
.carousel-caption .button-slider {
  display: block;
  background-color: #0074c3;
  padding: 10px;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  color: #00b4ff;
  text-transform: uppercase;
}
.carousel-caption .button-slider:hover {
  background-color: #0074c3;
  color: #2adab3;
}

.productos {
  font-family: "Roboto Flex", sans-serif;
  background-color: #ffffff;
}
.productos h2 {
  margin-bottom: 5%;
  font-weight: normal;
  font-size: 40px;
  font-family: "Roboto Flex", sans-serif;
  color: #002060;
  text-transform: uppercase;
  border-bottom: 2px solid #2adab3;
  width: auto;
  margin: 0px auto;
}
@media screen and (max-width: 576px) {
  .productos h2 {
    font-size: 30px;
    width: 90%;
  }
}
.productos .description {
  position: relative;
  color: #000000;
  font-size: 20px;
  font-family: "Roboto Flex", sans-serif;
}
.productos .description::before {
  content: " ";
  position: absolute;
  border: 1px solid #002060;
  height: 100%;
  left: -20px;
}
.productos .child {
  padding: 10px;
}
.productos img {
  width: 60%;
}
.productos .title {
  font-family: "Roboto Flex", sans-serif;
  font-size: 30px;
  color: #002060;
  font-weight: normal;
  margin-bottom: 0px !important;
}
@media screen and (max-width: 576px) {
  .productos .title {
    font-size: 20px;
  }
}
.productos small {
  color: #00b4ff;
  font-weight: normal;
}
@media screen and (max-width: 576px) {
  .productos small {
    font-weight: normal;
  }
}
.productos p {
  font-family: "Roboto Flex", sans-serif;
  font-size: 20px;
  color: #000000;
  font-weight: 200;
}
@media screen and (max-width: 576px) {
  .productos p {
    font-size: 15px;
    width: 100%;
    font-weight: 200;
  }
}
.productos .WhatsApp {
  display: flex;
  width: 450px;
  border: 0px;
  padding: 8px 30px 8px 30px;
  border-radius: 50px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2adab3;
  text-align: right;
  text-decoration: none;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}
@media screen and (max-width: 1199px) {
  .productos .WhatsApp {
    width: 70%;
    font-size: 12px;
    margin: 0px auto;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .productos .WhatsApp {
    width: 100%;
    font-size: 10px;
    color: #ebebeb;
    font-weight: bold;
    margin: 0px auto;
    justify-content: center;
  }
}
.productos .WhatsApp:hover {
  background-color: #5aafe9;
}
.productos .bi-whatsapp {
  font-size: 20px;
  margin-right: 2%;
  color: #ffffff;
}
.productos .icon {
  color: #002060;
  font-size: 30px;
}
.productos .icon:hover {
  color: #00b4ff;
}

.servicios {
  font-family: "Roboto Flex", sans-serif;
  background-color: #ffffff;
}
.servicios .title-2 {
  margin-bottom: 5%;
  font-weight: normal;
  font-size: 40px;
  color: #002060;
  text-transform: uppercase;
  margin: 0px auto;
  border-bottom: 2px solid #00b4ff;
  display: block;
  width: auto;
}
@media screen and (max-width: 576px) {
  .servicios .title-2 {
    font-size: 30px;
    width: 90%;
  }
}
.servicios .description {
  position: relative;
  color: #000000;
  font-size: 20px;
}
.servicios .description::before {
  content: " ";
  position: absolute;
  border: 1px solid #002060;
  height: 100%;
  left: -20px;
}
.servicios .child {
  padding: 10px;
}
.servicios img {
  width: 200px;
}
.servicios .title {
  font-size: 30px;
  color: #002060;
  font-weight: normal;
}
@media screen and (max-width: 576px) {
  .servicios .title {
    font-size: 20px;
  }
}
.servicios .box {
  height: 170px;
}
.servicios p {
  font-size: 20px;
  color: #000000;
  font-weight: lighter;
}
@media screen and (max-width: 576px) {
  .servicios p {
    font-size: 20px;
    width: 100%;
  }
}
.servicios .button-info {
  margin: 0px auto;
  display: flex;
  width: 250px;
  border: 0px;
  padding: 10px;
  border-radius: 50px;
  color: #ebebeb;
  background-color: #0074c3;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}
@media screen and (max-width: 576px) {
  .servicios .button-info {
    width: 70%;
    font-size: 15px;
  }
}
.servicios .button-info:hover {
  background-color: #00b4ff;
}
@media screen and (max-width: 576px) {
  .servicios small {
    font-weight: normal;
  }
}

.modelo {
  font-family: "Roboto Flex", sans-serif;
  background-color: #ffffff;
}
.modelo .title {
  margin-bottom: 5%;
  font-weight: normal;
  font-size: 40px;
  color: #002060;
  text-transform: uppercase;
  margin: 0px auto;
  border-bottom: 2px solid #00b4ff;
  display: block;
  width: auto;
}
@media screen and (max-width: 576px) {
  .modelo .title {
    font-size: 30px;
    width: 90%;
  }
}
.modelo img {
  width: 50%;
}
@media screen and (max-width: 576px) {
  .modelo img {
    width: 100%;
  }
}

.diferenciadores {
  font-family: "Roboto Flex", sans-serif;
  background-color: #ffffff;
}
.diferenciadores .title {
  font-weight: normal;
  font-size: 40px;
  color: #002060;
  text-transform: uppercase;
  margin: 0px auto;
  border-bottom: 2px solid #2adab3;
  display: block;
  width: auto;
  margin-bottom: 2rem !important;
}
@media screen and (max-width: 576px) {
  .diferenciadores .title {
    font-size: 30px;
    width: 90%;
  }
}
.diferenciadores .number {
  color: #ebebeb;
  font-size: 100px;
  font-weight: 300;
}
@media screen and (max-width: 576px) {
  .diferenciadores .number {
    font-size: 50px;
  }
}
.diferenciadores p {
  color: #ebebeb;
  font-size: 30px;
  font-weight: lighter;
}
@media screen and (max-width: 576px) {
  .diferenciadores p {
    font-size: 20px;
    font-weight: normal;
  }
}
.diferenciadores img {
  border-radius: 150px;
  width: 200px;
}
.diferenciadores .back-blue-light {
  background-color: #000000;
}
.diferenciadores .back-blue-light-1 {
  background-color: #002060;
}
.diferenciadores .back-blue-light-2 {
  background-color: #0074c3;
}
.diferenciadores .back-blue-light-3 {
  background-color: #00b4ff;
}

.contacto {
  font-family: "Roboto Flex", sans-serif;
  background-color: #ffffff;
  color: #ebebeb;
}
.contacto h3 {
  font-size: 40px;
  font-weight: normal;
  color: #002060;
  text-transform: uppercase;
  border-bottom: 2px solid #2adab3;
  width: auto;
  margin: 0px auto;
}
@media screen and (max-width: 576px) {
  .contacto h3 {
    font-size: 30px;
  }
}
.contacto p {
  font-size: 40px;
  margin-bottom: 5%;
  color: #0074c3;
  font-weight: lighter;
}
@media screen and (max-width: 576px) {
  .contacto p {
    font-size: 25px;
  }
}
.contacto i {
  font-size: 100px;
  font-weight: lighter;
}
.contacto .title {
  font-size: 30px;
  color: yellow;
  font-weight: 100;
}
.contacto .title-social {
  text-transform: uppercase;
}
.contacto ul {
  list-style: none;
  padding-left: 0px;
}
.contacto ul li {
  font-size: 20px;
  font-weight: 300;
  color: #002060;
}
@media screen and (max-width: 576px) {
  .contacto ul li {
    font-size: 15px;
  }
}
.contacto .link-mail {
  text-decoration: none;
  color: #002060;
}
.contacto .link-mail:hover {
  color: #0074c3;
}
.contacto .WhatsApp {
  margin: 0px auto;
  display: flex;
  border: 0px;
  border-radius: 50px;
  text-transform: uppercase;
  color: #002060;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .contacto .WhatsApp {
    width: 100%;
  }
}
.contacto .WhatsApp:hover {
  color: #0074c3;
}
.contacto .icon-whatsapp {
  color: #002060;
  font-size: 25px;
  margin-right: 10px;
}
.contacto .icon-whatsapp:hover {
  color: #0074c3;
  font-size: 25px;
  margin-right: 10px;
}
.contacto .icon {
  color: #002060;
  padding: 40px;
  font-size: 100px;
}
.contacto h4 {
  color: #002060;
}
.contacto .form-label {
  color: #002060;
}
.contacto input {
  border: 1px solid #002060;
}
.contacto textarea {
  border: 1px solid #002060;
}
.contacto select {
  border: 1px solid #002060;
}
.contacto button {
  background-color: #002060;
  color: #ffffff;
  border: 0px;
}
.contacto button:hover {
  background-color: #0074c3;
}

.formularios {
  font-family: "Roboto Flex", sans-serif;
  background-color: #f0f0f0;
}
.formularios h3 {
  font-size: 40px;
  font-weight: normal;
  color: #002060;
  text-transform: uppercase;
  border-bottom: 2px solid #2adab3;
  width: auto;
  margin: 0px auto;
}
@media screen and (max-width: 576px) {
  .formularios h3 {
    font-size: 30px;
  }
}
.formularios p {
  font-size: 40px;
  margin-bottom: 5%;
  color: #0074c3;
  font-weight: lighter;
}
@media screen and (max-width: 576px) {
  .formularios p {
    font-size: 25px;
  }
}
.formularios i {
  font-size: 100px;
  font-weight: lighter;
}
.formularios .title {
  font-size: 30px;
  color: yellow;
  font-weight: 100;
}
.formularios .title-social {
  text-transform: uppercase;
}
.formularios ul {
  list-style: none;
  padding-left: 0px;
}
.formularios ul li {
  font-size: 20px;
  font-weight: 300;
  color: #002060;
}
@media screen and (max-width: 576px) {
  .formularios ul li {
    font-size: 15px;
  }
}
.formularios .link-mail {
  text-decoration: none;
  color: #002060;
}
.formularios .link-mail:hover {
  color: #0074c3;
}
.formularios .WhatsApp {
  margin: 0px auto;
  display: flex;
  border: 0px;
  border-radius: 50px;
  text-transform: uppercase;
  color: #002060;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .formularios .WhatsApp {
    width: 100%;
  }
}
.formularios .WhatsApp:hover {
  color: #0074c3;
}
.formularios .icon-whatsapp {
  color: #002060;
  font-size: 25px;
  margin-right: 10px;
}
.formularios .icon-whatsapp:hover {
  color: #0074c3;
  font-size: 25px;
  margin-right: 10px;
}
.formularios .icon {
  color: #002060;
  padding: 40px;
  font-size: 100px;
}
.formularios h4 {
  color: #002060;
}
.formularios .form-label {
  color: #002060;
}
.formularios input {
  border: 1px solid #002060;
}
.formularios textarea {
  border: 1px solid #2adab3;
}
.formularios select {
  border: 1px solid #002060;
}
.formularios button {
  background-color: #0074c3;
  color: #ebebeb;
  border: 0px;
}
.formularios button:hover {
  background-color: #5aafe9;
}

.button-whatsapp {
  background-color: #03bf2b;
  width: 80px;
  height: 80px;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  right: 20px;
  bottom: 20px;
  opacity: 0.8;
  cursor: pointer;
}
.button-whatsapp .bi-whatsapp {
  font-size: 50px;
  color: #ffffff;
}
.button-whatsapp:hover {
  background-color: #028c20;
}

footer {
  font-family: "Roboto Flex", sans-serif;
  background-color: #002060;
  color: white;
  font-size: 15px;
  font-weight: 200;
}
footer .pie-addmx {
  font-size: 12px;
}
footer a {
  text-decoration: none;
  color: #0074c3;
}/*# sourceMappingURL=stylesheet.css.map */